.title {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.list-view {
    -fx-background-color: #ffffff;
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}


.button {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 30px;;
    -fx-font-weight: bold;
    -fx-background-image: url("/images/buttonBackground/ActiveButton.png");
    -fx-background-size: 100% 100%;

}

.secondary-button {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 15px;;
    -fx-font-weight: bold;
    -fx-background-image: url("/images/buttonBackground/ActiveButton.png");
    -fx-background-size: 100% 100%;
}

.text-field {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 15px;;
    -fx-font-weight: bold;
}

.optionButton {

    -fx-font-family: "Press Start 2P";
    -fx-font-size: 20px;;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;

}

.secondary-text {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}


.hotbar {
    -fx-background-image: url("/images/UI/hotbar/HotbarBackground.png");
    -fx-background-size: 100% 100%;
}

.content {

    -fx-font-family: "Press Start 2P";
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;

}

.UI-text {

    -fx-font-family: "Press Start 2P";
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;

}

.text-flow {
    -fx-background-color: RED;
}

