
.gameTitle {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 10vw;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-image: url("/images/UI.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


.root {
    -fx-font-size: 20px;
    -fx-background-image: url("/images/background/startMenuBackground.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


.button {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 20px;;
    -fx-font-weight: bold;

    -fx-background-image: url("/images/buttonBackground/ActiveButton.png");
    -fx-background-size: 100% 100%;
}


.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;

    -fx-background-image: url("/images/buttonBackground/UnactiveButton.png");
    -fx-background-size: 100% 100%;
}


